<nav class="topnavbar navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="title" href="#">Albums</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Buy <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Sell</a>
            </li>
        </ul>

    </div> 
</nav>

<div class="container" id="album-container">
    <form>
        <input type="text" class="input" name="albumName">
        <button class="searchBtn">Search</button>
    </form>
    <div class="row">
        <div class="col-md-4">
            <img src="" alt="..." class="img-thumbnail" id="albumCoverM">
        </div>
        <div class="col-md-8">
            <ul>
                <li>
                    <p><span class="label">Album Name</span> <span id="albumName"> </span></p>
                    <p><span class="label" >Artist:</span> <span id="artist"> </span></p>
                    <p><span class="label" >Release Date:</span>  <span id="releaseDate"> </span></p>
                    <p><span class="label">Spotify Page:</span> <a href="" id="url"> </span></p></a>
                    <input id="price"></input>
                    <button type="button" class="btn btn-secondary">Sell</button>
                </li>

            </ul>
        </div>
    </div>

</div>

