<nav class="topnavbar navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="title" href="/">Albums</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/buy">Buy <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sell">Sell</a>
            </li>
        </ul>

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-auto nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Register</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container" id="album-container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar bg-dark">
                <form class="form-inline">
                    <input class="form-control mr-sm-2 input" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn searchBtn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="albumPic">
            <img src="" alt="" class="">
        </div>
        <div class="col-md-8" id="album_info" style="visibility: hidden;">
            <ul>
                <li>
                    <p class="hello"></p>
                    <p><span class="label">Album Name: <span id="album"></span></span> {{hbsObj.albumName}}</p>
                    <p><span class="label">Artist: <span id="artist"></span></span> {{artist}}</p>
                    <p><span class="label">Release Date: <span id="release"></span></span> {{date}}</p>
                    <p><a href={{url}} onclick="redirect(r)"><span class="label">Spotify Page: <span id="spotify"></span></span></p></a> 

                    <button type="button" class="btn btn-secondary" id="sellBtn">Sell</button>
                </li>

            </ul>
            <form class="form-inline" id="form" style="visibility: hidden;">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
                    placeholder="Enter the $ sale price">
                <button type="submit" class="btn btn-primary mb-2" id="submitBtn">Submit</button>
            </form>
        </div>
    </div>
</div>

</div>